@use "@/utils/_variables.scss";

.search-input {
  width: 762px;
  height: 64px;
  padding: 16px;
  background: rgba(variables.$dark-gray-color, 0.05);
  border-radius: 16px;
  border: none;
  font-family: "Inter", sans-serif;
  color: variables.$dark-gray-color;
}

.search-input::placeholder {
  color: rgba(variables.$dark-gray-color, 0.5);
  font-size: 14px;
  font-weight: 400;
}

.search-input:focus-visible {
  outline: none;
}

.error-message {
  margin: 0 0 0 20px;
  font-size: 14px;
  position: absolute;
  color: variables.$deep-orange;
}

.search-results-container {
  margin-top: 18px;
  height: 120px;
  width: 47.68em;
  scrollbar-width: none; /* Firefox */
  /* display: none; */
  position: absolute;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.search-results-column {
  padding-left: 0;
  text-indent: 20px;
}
/*
.search-results-column {
  display: contents;
  float: none;

  position: absolute;
  left: 0; top: 100%;
  width: 100%;
}
*/
.search-results-column ul {
  width: 100%;
  font-weight: bold;
  height: 51px;
  padding-left: 0;
  background: rgba(variables.$dark-gray-color, 0.05);
  display: block;
  border-bottom: 1px solid white;
  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.14);
  }
}
