.wrapper {
  margin: 120px auto;
  max-width: 1280px;
  min-height: calc(100vh - 2 * 127px - 2 * 120px);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
