@use "@/utils/_variables";

@mixin burgerSpan {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: variables.$white-color;
}

@mixin headerGradient {
  background: linear-gradient(
    90deg,
    rgba(52, 51, 51, 1) 17%,
    rgba(72, 72, 72, 1) 59%,
    rgba(40, 40, 40, 1) 99%
  );
}

header {
  @include headerGradient;
  height: 127px;
}

nav {
  display: flex;
  align-items: center;

  margin: auto 0;

  font-size: 18px;
  font-weight: 400;
  color: variables.$white-color;

  @media screen and (max-width: 480px) {
    nav {
      display: inline;
    }
  }
}

#menu-toggle {
  opacity: 0;
  &:checked ~ .menu-button > span {
    transform: rotate(45deg);
  }
  &:checked ~ .menu-button > span::before {
    top: 0;
    transform: rotate(0);
    background: variables.$white-color;
  }
  &:checked ~ .menu-button > span::after {
    top: 0;
    transform: rotate(90deg);
    background: variables.$white-color;
  }
  &:checked ~ .menu-button {
    visibility: visible;
    left: 0;
    margin: 0;
  }
}

.menu-button {
  display: flex;
  align-items: center;
  position: relative;
  width: 1.625rem;
  height: 1.625rem;
  cursor: pointer;
  z-index: 2;
  transition-duration: 0.25s;
  box-sizing: border-box;

  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 1.625rem;
  }

  @media screen and (min-width: 480px) {
    display: none;
  }
}

.menu-button span {
  @include burgerSpan;
  &::before,
  &::after {
    @include burgerSpan;
    content: "";
    transition-duration: 0.25s;
  }
  &::before {
    top: -8px;
  }
  &::after {
    top: 8px;
  }
}

.menu-box {
  display: flex;
  flex-direction: row;
  gap: 16px;

  @media screen and (max-width: 480px) {
    @include headerGradient;
    flex-direction: column;
    position: fixed;
    visibility: hidden;
    width: 100%;
    top: 127px;
    left: 0;
    text-align: center;
    z-index: 1;
    transition-duration: 0.5s;
  }
}

@media screen and (max-width: 1280px) {
  .logo {
    padding-right: 0;
  }
}
