$white-color: #ffffff;
$white-card-border: #f0f1f1;
$dark-gray: #393939;
$dark-gray-5per: #3939390d;
$dark-gray-20per: #27272733;
$dark-gray-50per: #39393980;
$deep-orange: #f17900;
$pale-orange: #e0a449;

$lexend-deca: "Lexend Deca", sans-serif;
$inter: "Inter", sans-serif;

$max-content-width: 1280px;

$tablet-resolution: 768px;
