@use "@/utils/_variables.scss";

@import "https://fonts.googleapis.com/css2?family=Inter&Lexend+Deca:wght@100..900&display=swap";

body {
  margin: 0;
  padding: 0;
  border: 0;

  background-color: #fafafa;

  font-family: "Lexend Deca", sans-serif;
}

#root {
  min-height: 100%;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
  font-size: 64px;
  font-weight: bold;
}

h2 {
  margin: 0;
}

button {
  -webkit-appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

ul {
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1280px;
  height: 100%;

  margin: 0 auto;

  @media screen and (max-width: 1280px) {
    .container {
      margin: 0 20px;
    }
  }
}

.deep-orange {
  color: variables.$deep-orange;
}

.pale-orange {
  color: variables.$pale-orange;
}

.dark-gray {
  color: variables.$dark-gray-color;
}
