@import "https://fonts.googleapis.com/css2?family=Inter&Lexend+Deca:wght@100..900&display=swap";

body {
  margin: 0;
  padding: 0;
  border: 0;

  background-color: #fafafa;

  font-family: "Lexend Deca", sans-serif;
}

#root {
  min-height: 100%;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1280px;
  height: 100%;

  margin: 0 auto;

  @media screen and (max-width: 1280px) {
    .container {
      margin: 0 20px;
    }
  }
}
